<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New License/Permit Application Submitted</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
      }
      h1 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
      }
      p {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>Dear <span th:text="${user.lastName}"></span>,</p>
      <p>
        This is to inform you that your application for <span th:text="${application}"></span> has been <span th:text="${status}"></span>.
      </p>
      <p>If you have any questions, please do not hesitate to contact us.</p>
      <p>Thank you for your time and attention to this matter.</p>
      <p>
        <a th:with="url=(@{|${baseUrl}/home|})" th:href="${url}">View Notification</a>
      </p>
      <p>Please review the application and take the necessary action.</p>
      <p>
        <span class="signature">Sincerely,</span>
        <br />
        <em>Team OGR</em>
      </p>
    </div>
  </body>
</html>
