.custom-mg-form-group {
  display: flex;
  align-items: center;
}

.custom-mg-form-group .control-label {
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px; /* Adjust this value as needed */
}

.custom-mg-form-group .form-control,
.custom-mg-form-group .form-select {
  flex: 1;
  border: none !important;
  background: none;
  box-shadow: none !important;
}
.custom-mg-form-group .form-control:disabled {
  color: rgb(82, 95, 127) !important;
  font-size: 16px;
}
