@keyframes ldio-u8kiof6ga3b {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background: #f8f9fe;
}
.ldio-u8kiof6ga3b div {
  left: 110.48px;
  top: 0.92px;
  position: absolute;
  animation: ldio-u8kiof6ga3b linear 1s infinite;
  background: #2dceb1;
  width: 11.040000000000001px;
  height: 60.720000000000006px;
  border-radius: 5.5200000000000005px / 29.1456px;
  transform-origin: 5.5200000000000005px 91.08px;
}
.ldio-u8kiof6ga3b div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.96s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(2) {
  transform: rotate(14.4deg);
  animation-delay: -0.92s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(3) {
  transform: rotate(28.8deg);
  animation-delay: -0.88s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(4) {
  transform: rotate(43.2deg);
  animation-delay: -0.84s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(5) {
  transform: rotate(57.6deg);
  animation-delay: -0.8s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(6) {
  transform: rotate(72deg);
  animation-delay: -0.76s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(7) {
  transform: rotate(86.4deg);
  animation-delay: -0.72s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(8) {
  transform: rotate(100.8deg);
  animation-delay: -0.68s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(9) {
  transform: rotate(115.2deg);
  animation-delay: -0.64s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(10) {
  transform: rotate(129.6deg);
  animation-delay: -0.6s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(11) {
  transform: rotate(144deg);
  animation-delay: -0.56s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(12) {
  transform: rotate(158.4deg);
  animation-delay: -0.52s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(13) {
  transform: rotate(172.8deg);
  animation-delay: -0.48s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(14) {
  transform: rotate(187.2deg);
  animation-delay: -0.44s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(15) {
  transform: rotate(201.6deg);
  animation-delay: -0.4s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(16) {
  transform: rotate(216deg);
  animation-delay: -0.36s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(17) {
  transform: rotate(230.4deg);
  animation-delay: -0.32s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(18) {
  transform: rotate(244.8deg);
  animation-delay: -0.28s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(19) {
  transform: rotate(259.2deg);
  animation-delay: -0.24s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(20) {
  transform: rotate(273.6deg);
  animation-delay: -0.2s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(21) {
  transform: rotate(288deg);
  animation-delay: -0.16s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(22) {
  transform: rotate(302.4deg);
  animation-delay: -0.12s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(23) {
  transform: rotate(316.8deg);
  animation-delay: -0.08s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(24) {
  transform: rotate(331.2deg);
  animation-delay: -0.04s;
  background: #2dceb1;
}
.ldio-u8kiof6ga3b div:nth-child(25) {
  transform: rotate(345.6deg);
  animation-delay: 0s;
  background: #2dceb1;
}
.loadingio-spinner-spinner-13t8tqlxs7vb {
  width: 184px;
  height: 184px;
  /*display: inline-block;*/
  overflow: hidden;
  background: #f8f9fe;
  position: fixed; /* Make the loading spinner fixed to the viewport */
  top: 50%; /* Position it 50% from the top of the viewport */
  left: 50%; /* Position it 50% from the left of the viewport */
  transform: translate(-50%, -50%); /* Center the spinner */
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Center the spinner vertically */
  justify-content: center; /* Center the spinner horizontally */
}
.ldio-u8kiof6ga3b {
  position: relative;
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
  width: 100%;
  height: 100%;
  transform: translateZ(0) scale(0.8); /* Reduce the scale to make it proportional */
}
.ldio-u8kiof6ga3b div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
